
record(ao, "$(P):$(R):AO$(REGOFFSET)")
{
    field(DESC, "Analog Output")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT) $(REGOFFSET) $(TIMEOUT=1000))INT16")
    field(SCAN, "I/O Intr")
}
record(ai, "$(P):$(R):AO$(REGOFFSET)_RB")
{
    field(DESC, "Analog Output")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORTRB) $(REGOFFSET) $(TIMEOUT=1000))INT16")
    field(SCAN, "I/O Intr")
}
