record(mbbo, "$(P):$(R):$(ID)_RANGE_OUT")
{
    field(DESC, "Set AO Range $(ID)")
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asyn($(PORTMAX),40459,0xFFFF)")

    field(ZRVL, "0x30")
    field(ZRST, "0~20 mA")
    field(ONVL, "0x31")
    field(ONST, "4~20 mA")
    field(TWVL, "0x32")
    field(TWST, "0~10 V")
    field(THVL, "0x33")
    field(THST, "+/-10 V")
    field(FRVL, "0x34")
    field(FRST, "0~5 V")
    field(FVVL, "0x35")
    field(FVST, "+/-5 V")
}