
record(bo, "$(P):$(R):$(ID)")
{
    field(DESC, "DO$(REGOFFSET)")
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT) $(REGOFFSET) 1)")
    field(ONAM, "ON")
    field(ZNAM, "OFF")
    field(SCAN, "I/O Intr")
}

record(bi, "$(P):$(R):$(ID)_RB")
{
    field(DESC, "DO$(REGOFFSET) RB")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT) $(REGOFFSET) 1)")
    field(ONAM, "ON")
    field(ZNAM, "OFF")
    field(SCAN, "I/O Intr")
}


