

record(bi, "$(P):$(R):DI$(REGOFF)_RB")
{
    field(DESC, "DI state")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT) $(REGOFF) 1)")
    field(ONAM, "ON")
    field(ZNAM, "OFF")
    field(SCAN, "I/O Intr")
}
