

record(bi, "$(P):$(R):$(ID)_RB")
{
    field(DESC, "DI$(REGOFFSET)")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(CNTPORT) $(REGOFFSET) 1)")
    field(ONAM, "ON")
    field(ZNAM, "OFF")
    field(SCAN, "I/O Intr")
}
